<div>
	<form action="#" class="form-horizontal">
		<fieldset>
			<div class="form-group">
			    <label class="col-sm-4 col-md-4 control-label">ИНН организации (юридического лица)</label>
			    <div class="col-sm-8 col-md-8">
			      <input type="text" class="form-control" name="" ng-model="organizationName" ng-disabled="!isChangeEvailable">
			    </div>
		  	</div>
		  	<!--
		  	<div class="form-group">
			    <label class="col-sm-4 col-md-4 control-label">Контактное лицо от организации</label>
			    <div class="col-sm-8 col-md-8">
			      <input type="text" class="form-control" name="" ng-model="contactPerson" ng-disabled="!isChangeEvailable">
			    </div>
		  	</div>
		  	<div class="form-group">
			    <label class="col-sm-4 col-md-4 control-label">Контактный телефон организации</label>
			    <div class="col-sm-8 col-md-8">
			      <input type="text" class="form-control" name=""  ng-model="contactPhone" ng-disabled="!isChangeEvailable">
			    </div>
		  	</div>
		  	-->
		  	<div class="row">
		  		<div class="col-sm-12 col-md-12 text-right">
			  		<!--<button type="submit" class="btn btn-warning" ng-click="toggleEdit()" disabled>Изменить</button>-->
		  			<button type="submit" class="btn btn-success" ng-click="save()" disabled>Сохранить</button>
		  		</div>
		  	</div>
		</fieldset>
	</form>
</div>