<div class="login-form">
	<h3 class="text-center">Login</h3>
	<form action="#">
		<div class="fields">
			<strong>Your information</strong>
			<input class="form-control" type="text" placeholder="Login" ng-model="login">
			<input class="form-control" type="password" placeholder="Password" ng-model="password">
		</div>
		<div class="info">
			<p>Какаято важная информация <strong> очень важная</strong></p>
		</div>
		<div class="signup text-center">
			<button class="btn btn-success btn-lg" ng-click="authorize($event)">Login</button>
		</div>
	</form>
</div>