<div class="login-form">
	<form action="#">
		<div class="fields">
			<strong>Данные авторизации:</strong>
			<input class="form-control" type="text" placeholder="Логин" ng-model="login">
			<input class="form-control" type="password" placeholder="Пароль" ng-model="password">
		</div>
		<!-- <div class="info">
			<p>Какаято важная информация <strong> очень важная</strong></p>
		</div> -->
		<div class="signup text-center">
			<button class="btn btn-success btn-lg" ng-click="authorize($event)">Login</button>
		</div>
	</form>
</div>