<div class="row">
	<h1 class="text-center">История заказов</h1>

	<div class="filters-form">
		<form action="#">
			<fieldset>
				<div role="tablist" class="filters">
					<h4 class="filters__title clearfix text-right">
				        <a data-toggle="collapse" data-target=".filters__collapse">
				        	<i class="fa fa-filter" aria-hidden="true"></i>
				        	Фильтр
				        </a>
				     </h4>
				    <div class="filters__collapse" role="tabpanel">
						<div class="row">
							<label class="control-label col">Дата заказа
								<select class="form-control" ng-model="search.date">
									<option value="">Любая</option>
									<option value="">Последние сутки</option>
									<option value="">Последняя неделя</option>
									<option value="">Последний месяц</option>
								</select></label>
							<label class="control-label col">Статус заказа
								<select class="form-control" ng-model="search.status.code"
										ng-options="status.code as status.name for status in statusList">
									<option value="">Любой</option>
								</select></label>
							<label class="control-label col">Тип заказа
								<input type="text" class="form-control" placeholder="Enter text" value=""
									   ng-model="search.num">
							</label>


								<label class="control-label col">Номер штрих-кода
								<input type="text" class="form-control" placeholder="Enter text" value="" ng-model="search.code"></label>

								<label class="control-label col">№ отправления магазина
								<input type="text" class="form-control" placeholder="Enter text" value="" ng-model="search.shopNum"></label>
								<label class="control-label col">Город отправителя
								<input type="text" class="form-control red" placeholder="Enter text" value="" ng-model="search.city"></label>
								<label class="control-label col">Название магазина
								<input type="text" class="form-control red" placeholder="Enter text" value="" ng-model="search.shopName"></label>
								<label class="control-label col">Город получателя
								<input type="text" class="form-control" placeholder="Enter text" value="" ng-model="search.where"></label>
								<label class="control-label col">Телефон получателя
								<input type="text" class="form-control red" placeholder="Enter text" value="" ng-model="search.phone"></label>
								<label class="control-label col">ФИО получателя
								<input type="text" class="form-control red" placeholder="Enter text" value="" ng-model="search.fio"></label>
						</div>
				    </div>
			    </div>

			</fieldset>
		</form>
	</div>
	<table class="acts-table">
		<tr>
			<th><input type="checkbox" ng-model="isMasterChecked" ng-change="toggleMasterCheckbox(isMasterChecked)"></th>
			<th>Тип заказа</th>
			<th>Номер заказа магазина</th>
			<th>Штрих-код</th>
			<th>Куда</th>
			<th>Стоимость</th>
			<th>Статус</th>
			<th>&nbsp;</th>
		</tr>
		<tr ng-repeat="item in filteredItems = ( items | filter:search)" ng-dblclick="showInfo(item)">
			<td><input type="checkbox" ng-model="item.checked" ng-change="checkboxChanged(item.checked)" /></td>
			<td>{{item.humanReadable.deliveryType}}</td>
			<td>{{item.humanReadable.number}}</td>
			<td>{{item.humanReadable.barcode}}</td>
			<td>{{item.location.address}}</td>
			<td>{{item.price}}</td>
			<td>{{item.humanReadable.status}}</td>
			<td><a ng-click="getPrintPdf(item)"><i class="fa fa-print"></i> Печать</a></td>
		</tr>
	</table>
	<button class="btn btn-success" ng-click="printActs()" ng-show="(getCheckedItems().length > 0 ) && (filteredItems.length != 0)">Распечатать акт приема-передачи </button>
	<div class="alert alert-danger" ng-show="filteredItems.length == 0">
	  <p><strong>Внимание</strong> По заданным параметрам не найдено ни одного заказа, измените параметры поиска</p>
	</div>
</div>