<div>
	<form action="#" class="form-horizontal" name="places_loading_form">
		<fieldset ng-repeat="sender in senders">
			<div ng-class="{'alert alert-warning':sender.new}">
			<div class="form-group">
			    <label class="col-sm-4 col-md-4 control-label">Название магазина</label>
			    <div class="col-sm-8 col-md-8">
			      <input type="text" ng-required="true" required="required" class="form-control" name="" ng-model="sender.shopName" ng-disabled="!isChangeEvailable">
			    </div>
		  	</div>
		  	<div role="tablist" bs-collapse data-start-collapsed="true">
				<h5 class="filters__title">
			        <a bs-collapse-toggle class="pointer">
			        	<i class="fa fa-info-circle" aria-hidden="true"></i>
			        	Дополнительно
			        </a>
			     </h5>
			    <div class="filters__collapse" role="tabpanel" bs-collapse-target>
			    	<div class="form-group">
					    <label class="col-sm-4 col-md-4 control-label">Город *</label>
					    <div class="col-sm-8 col-md-8">
					      <input ng-required="true" required="required" type="text" class="form-control" name="" ng-model="sender.city" ng-disabled="!isChangeEvailable"  title=""/>
					    </div>
				  	</div>
				  	<div class="form-group">
					    <label class="col-sm-4 col-md-4 control-label">Адрес, с которого производится отправка</label>
					    <div class="col-sm-8 col-md-8">
							<div class="table-like">
								<div class="input-group table-row-like">
									<div class="input-group-addon table-cell-like text-right">Улица *</div>
									<input type="text" class="form-control" ng-required="true" name=""
										   ng-model="sender.street" required="required" ng-disabled="!isChangeEvailable">
								</div>
								<div class="input-group table-row-like">
									<div class="input-group-addon table-cell-like text-right">Дом *</div>
									<input type="text" class="form-control" ng-required="true" ng-minlength="1"  name=""
										   ng-model="sender.house" required="required" ng-disabled="!isChangeEvailable">
								</div>
								<div class="input-group table-row-like">
									<div class="input-group-addon table-cell-like text-right">Офис/квартира</div>
									<input type="text" class="form-control" name=""
										   ng-model="sender.apartment" ng-disabled="!isChangeEvailable">
								</div>
							</div>
					    </div>
				  	</div>
				  	<div class="form-group">
					    <label class="col-sm-4 col-md-4 control-label">Контактный телефон отправителя</label>
					    <div class="col-sm-8 col-md-8">
					      <input type="text" class="form-control" name="" ng-model="sender.phone" ng-disabled="!isChangeEvailable">
					    </div>
				  	</div>
				  	<div class="form-group">
					    <label class="col-sm-4 col-md-4 control-label">Контактное лицо</label>
					    <div class="col-sm-8 col-md-8">
					      <input type="text" class="form-control" name="" ng-model="sender.contactName" ng-disabled="!isChangeEvailable">
					    </div>
				  	</div>
					<div class="text-right"><button class="btn btn-danger" ng-click="rmSender(sender,$event)">Удалить</button></div>
				</div>
		    </div>
			</div>
		  	<hr>
		</fieldset>
		<div class="form-group">
			<label class="col-sm-4 col-md-4 control-label">&nbsp;</label>
			<div class="col-sm-8 col-md-8">
				<button type="submit" class="btn btn-success" ng-disabled="places_loading_form.$invalid" ng-click="addSender($event)">Добавить отправителя</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12 text-right">
				<button type="submit" class="btn btn-warning" ng-click="toggleEdit($event)">Изменить</button>
				<button type="submit" class="btn btn-success" ng-disabled="places_loading_form.$invalid" ng-click="saveAll($event)">Сохранить</button>
			</div>
		</div>
		<br>
		<div class="alert alert-danger" ng-show="places_loading_form.$invalid">Проверьте корректность заполнения полей</div>
		<div class="alert alert-danger" ng-show="unSaved">Сохраните изменения прежде чем продолжить</div>
	</form>

</div>