<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">×</button>
        <h4 class="modal-title">Информация по заказу</h4>
      </div>
      <div class="modal-body">
        <div class="order-history">
          <div class="order-history__header">
            <h4 class="order-history__title">{{titleText}}</h4>
            <div class="order-history__switcher">
              <input type="checkbox" id="lbl01" ng-change="changeDataView()" ng-model="isOrderDataShown">
              <label for="lbl01">изменить вид</label>
            </div>
          </div>
          <dl class="order-history__data" ng-show="!isOrderDataShown">
            <dt>Данные отправителя</dt>
            <dd>(ФИО, город, контактное лицо, контактный телефон, название магазина, от которого осуществляется доставка)</dd>
            <dt>Данные получателя</dt>
            <dd>(ФИО, город, контактное лицо, контактный телефон)</dd>
            <dt> Номер заказа магазина</dt>
            <dd> 7777 </dd>
            <dt> Стоимость доставки для получателя</dt>
            <dd> 777p</dd>
            <dt>Способ оплаты</dt>
            <dd>Visa</dd>
            <dt>Количество мест</dt>
            <dd>4</dd>
            <dt>Список товаров с артикулом, названием, оценочной стоимостью, стоимостью для получателя, количеством</dt>
            <dd>asdasdas</dd>
          </dl>
          <table class="acts-table acts-table_type_changes-history" ng-show="isOrderDataShown">
            <tr>
              <th>Дата</th>
              <th>Описание</th>
            </tr>
            <tr>
              <td>11/11/2015</td>
              <td>sadasd asd asd asd </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>